@import "_mixins";


@mixin local-mixin($cls) {
  .#{$cls}-local {
    color: green;
    @content;
  }
}


@include ext-mixin(foobar) {
  background: #333;
}

@include local-mixin(foobar) {
  background: #ddd;
}

